<section style="width: 100%; height: 87vh;">
  <h1>Index Page</h1>

  <% let users = [{id: 1, username: "Shamsiddin"}, {id: 1, username: "Og'abek"},
  {id: 1, username: "Binali"}] %>
  <ul>
    <% users.map((user) => { %>
    <li><%-user.username %></li>
    <% })%>
  </ul>
</section>
