<nav>
    <ul style="display: flex; align-items: center; gap: 30px; font-size: 20px; list-style: none;">
        <li><a href="/">index</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
    </ul>
</nav>